[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
[Dd]ocs/
[Bb]uild/
[Bb]uilds/
UserSettings/
exported/
.gradle/
[Rr]elease/*
Releases/

.vs/
.vscode/
.gradle/
uwp/
uwp2/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.vsconfig

*.pidb.meta
*.pdb.meta

sysinfo.txt

*.apk
*.aab
*.apk.sig
*.keystore
*.unitypackage
*.7z
*.bak
*.*.bak

Doxyfile